.container {
    display: flex;
    justify-content: center;
    width: 85%;
}

.card {
    margin: 0 2% !important;
}

.barChart{
    width: 50%;
}

.doughnutChart {
    width: 25%;
}



@media(max-width:770px){
    .container{
        width: 100%;
    }
}