body {
    background-color: rgb(250, 250, 250);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.CovidImage{
    width: 20%;
    margin-top: 50px;
}

@media(max-width: 770px){
    .container{
        margin: 0 10%;
    }
    .CovidImage{
        width: 100%;
    }
}